.login-submit {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.login-block{
    background-color: aqua;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.login-name{
    background-color: rgb(255, 0, 162);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
body{
    background-color: rgb(0, 145, 255);
    place-items: center;
    text-align: center;
    display: grid;
}