.login-submit {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.login-block{
    background-color: aqua;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.login-name{
    background-color: rgb(255, 0, 162);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
body{
    background-color: rgba(121, 197, 232, 0.08);
    place-items: center;
    text-align: center;
    display: grid;
}
form{
    background-color:rgb(87, 107, 121);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;}